div(class="flex items-center gap-3 justify-center md:justify-end flex-wrap")
    a(onclick='history.back()') 
        button(class="btn btn-outline flex items-center gap-2")
            i(class="fi fi-rr-arrow-left")
            | Volver
    div(class="relative inline-block text-left")
    
        
        button#btnMas(type="button" class="btn btn-outline flex items-center gap-2")
            //- Tres puntos (...)
            span(class="")
            i.fi-rr-grip-dots-vertical
            | Más
        //- MENÚ DESPLEGABLE (Oculto por defecto con class="hidden")
        div#menuMas(class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right bg-white rounded-md shadow-lg focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1")
            div(class="py-1" role="none")
            
            //- OPCIÓN 1: EDITAR (Icono Lápiz)
            a(href="/admin/tiendas/editar/" class="text-gray-700 hover:bg-gray-100 group flex items-center px-4 py-2 text-sm" role="menuitem")
                span(class="pr-3")
                    i.fi-rr-pencil
                | Editar Tienda
            
            a(href="/admin/tiendas/new/" class="text-gray-700 hover:bg-gray-100 group flex items-center px-4 py-2 text-sm" role="menuitem")
                span(class="pr-3")
                    i.fi-rr-add-document
                | Crear Nuevo Punto De Venta
            
            a(href="#" class="text-red-700 hover:bg-red-800 hover:text-white group flex items-center px-4 py-2 text-sm" role="menuitem")
                span(class="pr-3")
                    i.fi-rr-triangle-warning
                | Suspender Tienda

