div(class="w-full flex flex-col md:flex-row md:items-center md:justify-start gap-6")
    div(class="flex justify-center  md:items-center gap-4")
         div(class="w-20 h-20 rounded-full bg-gradient-to-br from-gray-200 to-purple-300 flex items-center justify-center flex-shrink-0 shadow-inner shadow-purple-700")
            
            if currentPath  === '/inventario' && subPath !== 'listado' && subPath !== 'dosificar'
                img(src="/img/avatars/nuevoProducto.png" alt="Nuevo Producto" class="w-14 h-14 object-contain")
            else if subPath === 'listado'
                img(src="/img/avatars/listado.webp" alt="Listado de productos" class="w-14 h-14 object-contain")
            else if subPath === 'dosificar'
                img(src="/img/avatars/doscificacion.webp" alt="Listado de productos" class="w-14 h-14 object-contain")




    div(class="flex flex-col gap-1")
        if dato
            h1.h1=dato.nombreComercial
        else 
            h1.h1 #{subPagina} 
        
        div(class="flex justify-center md:items-center gap-2")
             
            
        div(class="flex items-center gap-2 text-sm text-gray-500 mt-1")
            if dato
                i(class="fi fi-rr-marker")
                span=dato.direccionPrincipal
    
    
        
