div(class="flex items-center gap-3 justify-center md:justify-end flex-wrap")
    a(onclick='history.back()') 
        button(class="btn btn-outline flex items-center gap-2")
            i(class="fi fi-rr-arrow-left")
            | Volver
    div(class="relative inline-block text-left")
    
         a(href=`/admin/personal/new`) 
            button(class="btn btn btn-danger flex items-center gap-2")
                span.fi-rr-users-medical
                | Crear Nuevo Empleado
       

