ul(class="menu bg-base-200 rounded-box w-56")
  li(class="btn-menu-lateral")
    a Item 1

  li(class="btn-menu-lateral")
    details(close)
      summary Parent
      ul
        li
          a Submenu 1
        li
          a Submenu 2
        

  li
    a Item 3
