div(class="tarjetaBase")
    div(class="relative")
        p.p.mb-0 Cuantas bolsas?
        //- Contenedor flex para alinear icono y número horizontalmente
        div(class="flex items-center justify-center space-x-3 text-gh-primaryHover")
            i.fi-rr-sack.text-3xl
            h1#widget-total-bultos.text-3xl.font-bold.text-gh-primaryHover 0
            
