div(class="tarjetaBase")
    div(class="relative")
        p.p.mb-0 Fecha de Creación.
        div(class="flex items-center justify-center space-x-3 text-gh-primaryHover")
            i.fi-rr-daily-calendar.text-3xl
            //- ID único para la fecha
            h1#widget-fecha-creacion.text-xl.font-bold.text-gh-primaryHover ...