div(class="tarjetaBase")
    div(class="relative")
        p.p.mb-0 En donde estan?
        //- Contenedor flex para alinear icono y número horizontalmente
        div(class="flex items-center justify-center space-x-3 text-gh-primaryHover")
            i.fi-rr-warehouse-alt.text-3xl
            h1#widget-total-dose.text-xl.font-bold.text-gh-primaryHover Bodega Virtual
            
