div(class="tarjetaBase")
    div(class="relative")
      p(class="text-2xl font-medium  text-center text-slate-500 dark:text-slate-400 mb-1 ")
          
          | Productos Separados
      div(class="flex items-end space-x-2 justify-center ")
      
        h1.h1.text-4xl.text-center.text-gh-primaryHover 
            //i.material-symbols-outlined box
            i.fi-rr-benefit-diamond
            | 468
    h5.h5.text-center  Productos que estan separadoos para clientes
        
      