div(class="tarjetaBase")
    div(class="relative")
      p(class="text-2xl font-medium  text-center text-slate-500 dark:text-slate-400 mb-1 ")
          
          | Paquetes Armados
      div(class="flex items-end space-x-2 justify-center ")
      
        h1.h1.text-4xl.text-center.text-gh-primaryHover 
            //i.material-symbols-outlined deployed_code_alert
            i.fi-rr-dolly-flatbed-alt     
            | 45 Paquetes
    h5.h5.text-center  Listos para vender o repartir
        
      