div(class="tarjetaBase")
    div(class="relative")
        p.p.mb-0 Total Sobrantes
        //- Contenedor flex para alinear icono y número horizontalmente
        div(class="flex items-center justify-center space-x-3 text-gh-primaryHover")
            i.fi-rr-calculator-simple.text-3xl
            h1#widget-sobrantes.text-4xl.font-bold.text-gh-primaryHover 7
            
