extends ../layout/index
block contenedor
    body(class="bg-gray-100 min-h-screen")
        main(class="flex-1 overflow-y-auto")
            div(class="flex min-h-screen")
                include ./partials/sidebar

                div(class="flex-1 flex flex-col w-full")
                    include ../partials/header
                

        //script(src="/js/menu.js") 
