@import "tailwindcss";


@layer components {
  .btn-primary {
    @apply w-full bg-pink-600 text-white py-2 rounded-lg hover:bg-pink-700 transition cursor-pointer;
  }

  .field-text {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-pink-500;
  }

  .label {
    @apply block text-sm font-medium text-gray-700 mb-1;
  }

  .p {
    @apply text-sm text-gray-500 text-center mb-6;
  }

  .h1 {
    @apply text-2xl font-semibold text-gray-800 text-center mb-2;
  }

  .link {
    @apply text-sm text-pink-600 hover:underline;
  }

}


