@import "tailwindcss";
@import "@flaticon/flaticon-uicons/css/all/all";


@layer components {
  /* BOTONES */
  .btn-primary {
    @apply w-full bg-pink-600 text-white py-2 rounded-lg hover:bg-pink-700 transition cursor-pointer;
  }

  .btn-menu-lateral {
   @apply w-full flex items-center justify-between ml-4
       px-4 py-2 rounded-lg
       text-gray-700 cursor-pointer
       transition-colors duration-200
       hover:bg-pink-100 hover:text-pink-700;
  }

  .btn-submenu{
    @apply m-2 p-2 hover:text-gray-500 transition-colors duration-200 list-disc
  }
   /* CAMPOS DE TEXTO */
  .field-text {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-pink-500;
  }

  .label {
    @apply block text-sm font-medium text-gray-700 mb-1;
  }

  .p {
    @apply text-sm text-gray-500 text-center mb-6;
  }

   /* H1 H2 H3 H4 */
  .h1 {
    @apply text-2xl font-semibold text-gray-800 text-center mb-2;
  }

  .link {
    @apply text-sm text-pink-600 hover:underline;
  }

  
  /* MENSAJES */
  .error {
    @apply text-pink-500 font-bold bg-[#F8CBEE] border-blue-200 border-2 m-2 p-1 rounded-xl text-center;
  }

  .success {
    @apply text-gray-700 font-bold bg-green-300 border-green-500 border-2 m-2 p-1 rounded-xl text-center;

  }

}


.menu summary::marker {
  display: none;
}
details[open] summary .fi-rr-caret-right {
  transform: rotate(90deg);
}

.menu-item {
  @apply relative flex items-center  gap-3 px-4 py-4 rounded-lg text-gray-600 hover:bg-pink-100 hover:text-pink-700 transition;
}

.menu-item.active::before {
  content: "";
  @apply absolute left-0 top-1/2 -translate-y-1/2 h-6 w-1 bg-pink-500 rounded-r;
}

.menu-item.active {
  @apply text-pink-700 font-medium bg-pink-50;
}