div(class="bg-gray-50 rounded-t-2xl p-3 shadow-sm border border-slate-100 overflow-hidden")
    div(class="flex flex-col md:flex-row md:items-center md:justify-between gap-4")
        div
            h2(class="h2 text-gh-primaryHover")
                i(class="fi-rr-list mr-3")
                | Listado Completo de las dosificaciones.
            p(class="text-sm text-slate-400")
                | Lista completa de todas las dosificaciones hechas

        form(class="flex flex-col sm:flex-row items-stretch sm:items-center gap-3")
            div(class="relative")
                input(type="text" name="search" placeholder="Buscar código o fecha..." class="input input-has-icon-left")
                i(class="fi-rr-search absolute left-3 top-1/2 -translate-y-1/2 text-slate-400 text-sm")

            div(class="col-span-9 select-wrapper")
                select(name="estado" class="field-select")
                    option(value="") Todos los estados
                    option(value="completado") Completado
                    option(value="pendiente") Pendiente
                    option(value="anulado") Anulado
                span.select-icon.fi-rr-chevron-double-down

    div(class="overflow-x-auto pt-4")
        table(class="w-full text-left text-2xs border-collapse")
            thead
                tr(class="border-b border-gh-primaryHover hover:bg-gray-50 text-sm transition-colors")
                    th(class="w-1/8 px-2 py-4 text-center text-gray-600") Fecha Creada
                    th(class="w-1/12 px-3 text-center text-gray-600") Código
                    th(class="w-1/6 px-2 text-center text-gray-600") Nro Paquetes
                    th(class="w-1/6 px-2 text-center text-gray-600") Productos
                    th(class="w-1/8 px-2 text-center text-gray-600") Acciones

            //- El tbody se deja vacío para que listadoDose.js lo renderice
            tbody(class="divide-y divide-slate-100")
                tr
                  td(colspan="5" class="text-center py-10")
                    div(class="flex flex-col items-center text-slate-400")
                      i.fi-rr-spinner.animate-spin.text-2xl.mb-2
                      span Cargando dosificaciones...

    //- Sección de Paginación Dinámica
    div(class="px-8 py-4 bg-slate-50/30 border-t border-slate-100 flex items-center justify-between")
        p(class="text-xs text-slate-400")
            | Mostrando 
            span(id="count-actual" class="font-bold text-slate-600") 0
            |  de 
            span(id="count-total" class="font-bold text-slate-600") 0
            |  Dosificaciones
        
        //- Contenedor donde el JS inyectará los botones de página
        div(id="paginacion-container" class="flex gap-1")

        div(id="paginacion-container" class="flex gap-1")

//- No olvides incluir el script al final de tu archivo layout o vista
block scripts

    script(src="/js/paginador.js")
    script(src="/js/listadoDose.js")