div(class="flex items-center gap-3 justify-center md:justify-end flex-wrap")
    a(onclick='history.back()') 
        button(class="btn btn-outline flex items-center gap-2")
            i(class="fi fi-rr-arrow-left")
            | Volver
    div(class="relative inline-block text-left")
    
        
       
    
    if subPagina === 'Gestión Tiendas'
        a(href=`/admin/tiendas/new/`) 
            button(class="btn btn btn-danger flex items-center gap-2")
                span.material-symbols-outlined add_business

                | Nueva Tienda

    if subPagina === 'Estado de la tienda '
        a(href=`/admin/tiendas/editar/${dato.idPuntoDeVenta}`) 
            button(class="btn btn btn-danger flex items-center gap-2")
                i(class="fi fi-rr-edit")
                | Editar Tienda 

