div(class="w-full flex flex-col md:flex-row md:items-center md:justify-start gap-6")
    div(class="flex justify-center  md:items-center gap-4")
         div(class="w-20 h-20 rounded-full bg-gradient-to-br from-gray-200 to-purple-300 flex items-center justify-center flex-shrink-0 shadow-inner shadow-purple-700")
            if dato
                if dato.activa === true
                    img(src="/img/avatars/tiendaLila.png" alt="Tienda" class="w-14 h-14 object-contain")
                else 
                    img(src="/img/avatars/tiendaLilaSleep.png" alt="Tienda" class="w-14 h-14 object-contain")
            else
                img(src="/img/avatars/tiendaNueva.png" alt="Tienda" class="w-14 h-14 object-contain")

    div(class="flex flex-col gap-1")
        if dato
            h1.h1=dato.nombreComercial
        else 
            h1.h1 Nueva Tienda
        
        div(class="flex justify-center md:items-center gap-2")
             if dato
                span(class="status-chip status-active")
                    | Abierta
                span(class="status-chip status-pending")=dato.tipo 
             else 
                span(class="status-chip status-low")
                    i.fi-rr-triangle-warning.h1
                    | Puedes crear la tienda sin necesidad de todos los datos tributarios, pero no podrás facturar hasta que los datos tributarios esten completos.
                
            
        div(class="flex items-center gap-2 text-sm text-gray-500 mt-1")
            if dato
                i(class="fi fi-rr-marker")
                span=dato.direccionPrincipal
    
    
        
