div(class="border-b border-slate-300  ")
    nav(class="flex px-8")
        button(class="px-6 py-2 text-sm font-bold cursor-pointer tab-active" id="facturacionHoy")
            | Facturación de hoy
        button(class="px-6 py-5 text-sm font-bold text-slate-400 cursor-pointer hover:text-gh-primary transition-colors" id="inventario")
            | Inventario
        button(class="px-6 py-5 text-sm font-bold text-slate-400 cursor-pointer hover:text-gh-primary transition-colors" id="empleados")
            | Empleados
        button(class="px-6 py-5 text-sm font-bold text-slate-400 cursor-pointer hover:text-gh-primary transition-colors" id="documentacion")
            | Documentación