div(class="alert alert-error")
    div(class="flex items-start space-x-4")
        span(class="material-icons-round text-red-700") warning
    div
        h4(class="alert-title") Existe Cartera Vencida por valor de
        h1.h1.text-4xl.alert-title $50.000.000
