div(class="tarjetaBase")

    p(class="text-xs font-bold text-gh-primaryHover uppercase tracking-wider mb-2")
        | En Efectivo
    div(class="flex items-end justify-between")
        div
            h3(class="text-3xl font-bold text-slate-800")
                | $7.450.000

        div(class="w-10 h-10 rounded-full bg-amber-50  flex items-center justify-center text-emerald-600")
            i.fi-rr-money-bill-wave.text-3xl
    
    div(class="mt-4 flex items-center space-x-2")
    div(class="flex-1 h-2.5 bg-slate-100 dark:bg-slate-800 rounded-full")
        div(class="w-2/3 h-full bg-[#73BA9B] rounded-full")

    span(class="text-[10px] font-bold text-slate-400")
        | 65% del total recaudado esta en efectivo.