div(class="tarjetaBase")

    p(class="text-xs font-bold text-gh-primaryHover uppercase tracking-wider mb-2")
        | Ventas Del Día de la tienda
    div(class="flex items-end justify-between")
        div
            h3(class="text-3xl font-bold text-slate-800")
                | $13.293.000

            p(class="text-xs text-emerald-500 font-bold flex items-center mt-1")
                i.fi-rr-arrow-trend-up.text-sm.mr-1
                | +18.2%

        div(class="flex items-end space-x-1 h-12 pb-1")
            div(class="w-1.5 h-4 bg-gh-primary/20 rounded-full")
            div(class="w-1.5 h-6 bg-gh-primary/40 rounded-full")
            div(class="w-1.5 h-8 bg-gh-primary/60 rounded-full")
            div(class="w-1.5 h-10 bg-gh-primary/80 rounded-full")
            div(class="w-1.5 h-5 bg-gh-primary rounded-full")
