div(class="tarjetaBase")

    p(class="text-xs font-bold text-gh-primaryHover uppercase tracking-wider mb-2")
        | Transferencias/billeteras
    div(class="flex items-end justify-between")
        div
            h3(class="text-3xl font-bold text-slate-800")
                | $3.400.000

        div(class="w-10 h-10 rounded-full pl-1.5 bg-blue-400  flex items-center justify-center text-blue-100")
            i.fi-rr-cvv-card.text-2xl
    
    div(class="mt-4 flex items-center space-x-2")
    div(class="flex-1 h-2.5 bg-slate-100 dark:bg-slate-800 rounded-full")
        div(class="w-1/4 h-full bg-blue-500 rounded-full")

    span(class="text-[10px] font-bold text-slate-400")
        | 20% de lo recaudado esta en tarjeta.