div(class="tarjetaBase")
    div(class="relative")
      p(class="text-sm font-medium text-slate-500 dark:text-slate-400 mb-1")
          i.fi-rr-seller-store.text-2xl.mr-2.mt-1
          |Ventas En Todas Las Tiendas
      div(class="flex items-end space-x-2")
        h3.h3 $42,850
        span(class="trends")
          span(class="material-icons-round text-sm") trending_up
          | 12%
      div(class="mt-4 h-1.5 w-full  bg-gh-primaryHover rounded-full overflow-hidden")
        div(class="h-full bg-primary w-3/4 rounded-full") 
      div(class="flex items-baseline space-x-2")
          div(class="mt-4 flex items-center space-x-2 text-xs font-medium text-emerald-700 bg-emerald-100  p-2 rounded-lg")
              i.fi-rr-circle-1
              span Tienda Centro
          div(class="mt-4 flex items-center space-x-2 text-xs font-medium text-amber-500 bg-amber-50 dark:bg-amber-500/10 p-2 rounded-lg")
              i.fi-rr-circle-2
              span Pagina Web
          div(class="mt-4 flex items-center space-x-2 text-xs font-medium text-white bg-gh-primary p-2 rounded-lg")
              i.fi-rr-circle-3
              span Redes Sociales
          