div(class="tarjetaBase")
    p(class="text-sm font-medium text-slate-500 dark:text-slate-400 mb-1")
            i.fi-rr-expense.text-2xl.mr-2
            | Métodos de pago
    div(class="mt-0.5 flex items-center space-x-2 text-xs font-medium text-emerald-700 bg-emerald-100  p-2 rounded-lg hover:bg-gh-primaryHover hover:text-white")
        i.fi-rr-money-bill-wave 
        |Efectivo
    div(class="mt-0.5 flex items-center space-x-2 text-xs font-medium text-gray-700 bg-blue-100  p-2 rounded-lg hover:bg-gh-primaryHover  hover:text-white")
        i.fi-rr-cvv-card
        |Débito/Trans
    
    div(class="mt-0.5 flex items-center space-x-2 text-xs font-medium text-[#964ed6] bg-gray-100  p-2 rounded-lg hover:bg-gh-primaryHover  hover:text-white")
        i.fi-rr-cvv-card
        |T-Crédito
    
    div(class="mt-0.5 flex items-center space-x-2 text-xs font-medium text-gray-100 bg-black p-2 rounded-lg hover:bg-gh-primaryHover")
        i.fi-rr-refund-alt
        |Otro
   
        