div(class="tarjetaBase")
    p(class="text-sm font-medium text-slate-500 dark:text-slate-400 mb-1")
        i.fi-rr-daily-calendar
        |Ventas del mes 
        div(class="flex items-baseline space-x-2")
            h3.h2.mt-2 $24.023.500
        span(class="text-xs text-slate-400  ") en los últumos 26 días
        div(class="flex mt-3 space-x-1 items-end h-8")
            div(class="w-full bg-gh-primary/30 rounded-t-sm h-1/2")
            div(class="w-full bg-gh-primary/20 rounded-t-sm h-2/3")
            div(class="w-full bg-gh-primary/40 rounded-t-sm h-3/4")
            div(class="w-full bg-gh-primary/20 rounded-t-sm h-2/3")
            div(class="w-full bg-gh-primary/60 rounded-t-sm h-full")
            div(class="w-full bg-gh-primary/30 rounded-t-sm h-1/2")
            div(class="w-full bg-gh-primary rounded-t-sm h-4/5")