doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/output.css")
        link( rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css")
        title Billware || #{pagina}
    body(class="min-h-screen bg-[#F4F0FA] flex items-center justify-center")
    block contenedor

