div(class="tarjetaBase")
    div(class="flex justify-between items-start")
        div(class="flex h-12 w-12 items-center justify-center rounded-lg bg-gh-primary text-white group-hover:scale-110 transition-transform")
            i.fi-rr-supplier-alt.text-3xl
        span(class="text-xs font-medium text-primary/40") ID: GH-INV-01

    div(class="flex flex-col gap-1")
        p(class="text-gh-primary  dark:text-gh-primary/50 text-sm font-semibold uppercase tracking-wider") Stock Total
        h2.h2.text-4xl.font-bold 12,450

    div(class="flex items-center gap-2 pt-2 border-t border-primary/5")
        span(class="text-[#078859] text-xs font-bold flex items-center")
            i.fi-rr-check-circle.text-sm
        p(class="text-[#9b4b65] dark:text-gh-primary/40 text-[13px] font-normal leading-normal")
        | Total de unidades en almacén