form(action="", method="post" id="formularioProducto" enctype="multipart/form-data" class="col-span-12 grid grid-cols-12 gap-6 items-start")


    //- COLUMNA IZQUIERDA
    input(type="hidden", name="_csrf" value = csrfToken)
    div(class="col-span-12 md:col-span-8 grid grid-cols-12 gap-4 cards cardsWhite p-6")
        
        //- Nombre del Producto
        //- SEPARADOR 100% (ATRIBUTOS)
        div(class="col-span-12 -mx-6 mt-4")
            
            h1.h1(class="text-left pl-11 flex items-center text-gray-700")
                i.fi-rr-features.pr-2
                | Datos Básicos

        div(class="col-span-8")
            .div(class="alert alert-warning")
                div(class="alert-icon")
                    i.fi-rr-light-emergency-on
                | Los productos que serán dosificados irán a la bodega de tránsito.

        div(class="col-span-4")
            label.label Cuántas unidades por paquete?
            input(type="number" id="unidadesPorPaquete" name="unidadesPorPaquete"  min="1" max="30"  value="12" class="field-text  text-5xl bg-gray-100 cursor-not-allowed text-center opacity-75" readonly)

        //ROWS

        //- ROWS
        div#contenedor-productos(class="col-span-12 contents")
            //- Fila Base
            div.fila-producto(class="col-span-12 grid grid-cols-12 gap-4 items-end mb-4 border-b pb-4 border-gray-100")
                input(type="hidden", name="idProducto[]")
                
                div(class="col-span-12 md:col-span-3")
                    label.label Sku 
                    input(type="text" name="sku[]" class="field-text sku-input" placeholder="ABD-CDS")
                
                div(class="col-span-12 md:col-span-3")
                    label.label Nombre del Producto
                    input(type="text" name="name[]" class="field-text" placeholder="Producto..." disabled)
                
                div(class="col-span-12 md:col-span-2")
                    label.label Cantidad 
                    input(type="number" name="cantidad[]" min="1" placeholder="1000" class="field-text")
                
                div(class="col-span-12 md:col-span-2")
                    label.label Valor Unidad 
                    input(type="text" name="valorUnidad[]" placeholder="$30.000" class="field-text currency-input")
                
                div(class="col-span-12 md:col-span-2 flex gap-2 ")
                    button(type="button" class="btn btn-secondary addMore w-full justify-center" title="Agregar referencia") 
                        i.fi-rr-square-plus
                    button(type="button" class="btn btn-danger btn-remove-row hidden w-full justify-center" title="Eliminar referencia") 
                        i.fi-rr-trash
        
               





       






                            
    //- COLUMNA DERECHA
    //- COLUMNA DERECHA
    div(class="col-span-12 cards cardsWhite md:col-span-4 flex flex-col gap-4 sticky top-4")
        div(class="p-6")
            h1.h1(class="mb-6 border-b pb-2")
                i.fi-rr-dashboard-monitor.pr-2
                | Monitor de Dosificación

            div(class="flex flex-col gap-6")

                //- MONITOER DE EMPAQUE SUGERIDO.
                div(class="mt-6")
                    h2.h2(class="text-sm font-bold uppercase tracking-wider text-gray-500 mb-4") 
                        i.fi-rr-list-check.pr-2
                        | Plan de Empaque Sugerido
                    
                    //- Este es el contenedor donde el JS inyectará las tareas
                    div#monitorPlanDetalle(class="flex flex-col gap-3 max-h-[500px] overflow-y-auto pr-2")
                        div(class="text-center py-8 text-gray-400 border-2 border-dashed border-gray-100 rounded-xl")
                            i.fi-rr-boxes(class="text-4xl mb-2 block")
                            p.text-xs Ingresa productos para generarte el plan de empaque



                //- Unidades por Paquete
                div(class="flex justify-between items-center bg-gray-50 p-4 rounded-lg")
                    div
                        p.label(class="mb-0 text-gray-500") Unidades x paquete
                        p(class="text-xs text-gray-400") (Capacidad de la bolsa)
                    span#monitorUnidadesXPaquete(class="text-3xl font-bold text-blue-600") 12
                //- Cantidad Total de Productos
                div(class="flex justify-between items-center bg-gray-50 p-4 rounded-lg")
                    div
                        p.label(class="mb-0 text-gray-500") Cant. total productos
                        p(class="text-xs text-gray-400") (Suma de todas las referencias)
                    span#monitorTotalProductos(class="text-3xl font-bold text-green-600") 0
                //- Cálculo de Packs (Extra para utilidad del usuario)
                div(class="mt-4 p-4 border-t border-dashed border-gray-200")
                    div(class="flex justify-between items-center")
                        p.label.text-gray-600 Estimación de Packs
                        span#monitorEstimacionPacks(class="text-xl font-semibold text-gray-700") 0
                
                    div(class="flex justify-between items-center")
                            p.label.text-gray-600 Unidades sobrantes
                            span#monitorSobrantes(class="text-xl font-semibold text-orange-600") 0

                
                
            


            

    div(class="col-span-12")
        div(class="flex  justify-center")
            button(class="btn btn-primary w-full"  type="submit" id="guardar" )
                i.fi-rr-disk
                | #{btnName}



script(src="/js/dataDose.js" type="module") 
script(src="/js/dosificador.js" type="module") 
script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")           